@media (min-width: 1960px) {




    .header {

        justify-content: space-around;

    }


    .banner {

        padding: 0px 26rem;
        height: 30%;


    }

    .banner-icon {
        padding-top: 20px;
        padding-bottom: 15px;

        max-width: 150px;

    }


    .banner-text,
    .banner-label {
        /* margin-left: 30px; */
        text-align: center;
        padding-bottom: 15px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 2em;
        font-size: 1.5em;
    }

    .what-block {

        padding: 0 25%;

    }


    .carousel {

        width: 65%;

    }

    .how-block {

        padding: 2rem 30%;

    }

    .when-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        width: 100%;


        border-bottom-style: solid;
        border-bottom-color: white;
        border-bottom-width: 10px;

        text-align: center;
        overflow: hidden;
    }



}