/* Mobile views*/
@media (max-width: 640px) {

    :root {
        background-attachment: fixed;
    }

    .h2 {
        font-size: small;
    }

    .nav-container {
        /* margin-right: 30px; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 8px;

    }

    .rounded-button {
        font-size: x-small;
        margin: 5px;
    }

    .bg-graph {

        display: none;

    }


    .bg-graph-mask {
        display: none;
    }

    .logo-header {
        margin-left: 10px;
        margin-bottom: 4px;
        width: 70px;
    }

    .graph-logo {
        width: 70%;

        position: unset;

    }



    .landing-mobile-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .rounded-buttonB {
        font-size: x-small;
        padding: 7px 1.2rem;
        border-radius: 30px;
        background-color: none;
        border-color: #2A4747;
        margin: 4px;
        color: #2A4747;
        letter-spacing: 3px;
        font-family: rift;

    }


    .solid-buttonB {
        background-color: #2A4747;
        color: white;

    }


    .banner {
        flex-direction: column;
        align-items: center;
        padding: 0;
        gap: 0px;

    }

    .banner-item {
        min-width: unset;
        width: 90%;
        flex-direction: row;
        gap: 1.5rem;

    }

    .banner-icon {
        max-width: 70px;
        margin-left: 7%;
        padding-top: 12px;
        padding-bottom: 15px;
    }

    .banner-text {
        padding-bottom: 0;
        font-size: medium;
        text-align: center;

    }

    .banner-label {
        padding-bottom: 0;

        text-align: left;
        font-weight: 1em;
        font-size: 0.85em;

    }



    .text-overlay {
        position: absolute;
        inset: 0;
        background-color: #ffffffcc;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: opacity 0.25s;
        opacity: 0;
        backdrop-filter: blur(5px);
        text-align: center;
    }


    .text-overlay:hover,
    .text-overlay:active {
        opacity: 1;
    }




    .page {
        height: max(100vh, 700px);
    }

    .page-mobile-100vh {
        height: 100vh;
    }

    .what-block {

        padding: 0 10%;

    }

    .body-heading-what {

        font-size: 24px;
        padding: 20px 0;
        letter-spacing: 8px;
        margin-left: 5px;
    }

    .white-line-what {

        width: 100px;

    }

    .white-line {

        width: 100px;


    }

    .body-paragraph {

        line-height: 1.75rem;
        font-size: 15px;

    }

    .bold-paragraph-text {

        font-size: 15px;

    }



    .carousel {

        height: 100%;

    }


    .carousel_heading.main {

        top: 50px;
        font-size: 20px;
        letter-spacing: 8px;



    }

    .carousel-heading {

        top: 70px;
        font-size: 20px;
        letter-spacing: 8px;
        margin-bottom: 20px;
        margin-left: 10px
    }



    .carousel-button {

        top: 80%;

    }

    .carousel_button--left {
        left: -20px;
    }

    .carousel_button--right {
        right: -20px;
    }

    .carousel-button img {
        height: 35px;
    }

    .carousel__nav {
        padding: 0px 0;

    }

    .carousel_track-container {
        height: 98%;

    }

    .carousel-content {
        width: 95%;

    }



    .body-heading-how {

        font-size: 20px;
        letter-spacing: 8px;
        margin-left: 10px;
        margin-bottom: 20px;
    }


    .how-bullet-list {

        flex-direction: column;
        padding: 20px 0;

    }


    .how-list-item {

        margin: 10px auto;
        width: 90%;
        /* line-height: 1.5rem; */

    }

    .how-block {
        padding-bottom: 0px;
        padding-top: 30px;
    }

    .when-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        width: 100%;


        border-bottom-style: solid;
        border-bottom-color: white;
        border-bottom-width: 10px;

        text-align: center;
        overflow: hidden;
    }

    .body-heading-when {
        /* margin:300px;   */
        font-family: rift;
        font-size: 20px;
        letter-spacing: 8px;
        margin-left: 10px;
        opacity: 100%;
        text-align: center;
        align-items: center;

        margin: 0 13px;



    }

    .time {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px;
        width: 145px;
    }

    .time,
    small {
        font-family: 'Montserrat', sans-serif;
        line-height: 2.5rem;
        letter-spacing: 5px;
        font-size: 20px;
    }

    .countdown {
        display: flex;
        flex-direction: column;
        transform: scale(0.75);
        justify-content: center;
        height: 370px;
    }

    .notify-me-text {
        color: white;
        font-family: 'Montserrat', sans-serif;
        line-height: 2.5rem;
        letter-spacing: 1px;
        font-size: 10px;
        font-weight: 600;

        /* background-color: rgb(255, 0, 174); */
        margin: 10px;


    }

    .notify-me {
        border-radius: 30px;
        border: none;
        cursor: pointer;
        background-color: #0000;
        display: flex;
        width: fit-content;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0 25px;
        margin: 50px 0;
        transition: background-color 0.25s;
    }

    .column-centered {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }


    .modal-backdrop {
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        overflow: auto;



    }

    .modal-close-btn {
        right: 0;
        top: 0;
        position: absolute;
    }

    .modal-content {
        background-color: white;
        margin: 50% auto;
        display: flex;
        width: 80%;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
        height: fit-content;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        border-radius: 10px;
        overflow: hidden;


    }

    .modal-content-top {

        display: flex;
        justify-content: center;
        background-color: #439775;
        height: 90px;
        align-items: center;
    }

    .thanks-modal-content-top {

        display: flex;
        justify-content: center;
        background-color: #439775;
        height: 140px;
        align-items: center;
    }

    .mail-image {
        width: 50%;
    }

    .modal-close-btn {
        width: 20px;
        padding-top: 10px;
        padding-right: 15px;

    }

    .modal-content-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-around;



    }

    .thanks-modal-content-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-around;



    }

    .modal-heading {

        font-family: rift;
        font-size: 18px;
        letter-spacing: 5px;
        padding: 35px;
        opacity: 100%;
        text-align: center;

    }


    .thanks-modal-heading {

        font-family: rift;
        font-size: 18px;
        letter-spacing: 5px;
        opacity: 100%;
        text-align: center;
        color: black;
        margin: 20px;

    }



    .modal-input {

        border: none;
        border-bottom: solid 1px black;
        width: 60%;

        padding: 7px;
        outline-color: #2A4747;


    }


    .modal-input-btn {
        font-family: rift;
        font-size: 12px;
        letter-spacing: 2px;
        opacity: 100%;
        text-align: center;
        align-items: center;
        border-radius: 20px;
        padding: 5px 15px;
        margin-bottom: 20px;
    }

    .modal-subscribe-btn {
        font-family: rift;
        font-size: 12px;
        letter-spacing: 2px;
        opacity: 100%;
        text-align: center;
        align-items: center;
        border-radius: 20px;
        padding: 5px 15px;
        margin-bottom: 20px;
        background-color: white;
        border-width: 1px;


    }

    .modal-subscribe-btn:hover {
        background-color: #43977511;


    }



    .modal-text {
        color: black;
        font-family: 'Montserrat', sans-serif;
        line-height: 1rem;
        letter-spacing: 1px;
        font-size: 12px;
        font-weight: 200;
        margin: 20px
    }

    .thanks-modal-text {
        color: black;
        font-family: 'Montserrat', sans-serif;
        line-height: 1rem;
        letter-spacing: 1px;
        font-size: 12px;
        font-weight: 200;
        margin: 25px;

    }




    .modal-thanks-content {
        background-color: white;
        margin: 40% auto;
        display: flex;
        width: 80%;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
        height: fit-content;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        border-radius: 10px;
        overflow: hidden;


    }


    .top-half {
        flex-direction: column;
        padding-top: 25px;


    }


    .footer-heading-text {
        font-size: 20px;

    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        min-height: 100vh;
        background-image: linear-gradient(#439775, white);
    }


    .logo-footer {
        width: 200px;
        margin-left: 25px;
        margin-top: 5px;

    }


    .top-half-headings {
        flex-direction: column;
        gap: 20px;
        margin-left: 30px;
        margin-top: 30px;
        padding-bottom: 50px;


    }


    .footer-heading-text {
        font-size: 20px;
        letter-spacing: 4px;

    }


    .cardano-logo {
        height: 20px;
        padding-top: 10px;

    }


    .matogen-logo {
        height: 20px;
        padding-top: 10px;

    }


    .social-icon {
        width: 25px;
    }


    .social-icon-strip {
        padding-top: 10px;

    }


    .contact-icon {
        width: 100px;
        padding-top: 10px;

    }


    .second-half {
        flex-direction: column;
        gap: 30px;
        padding-left: 5px;

        padding-top: 10px;

    }


    .user-icon {
        width: 60px;
        gap: 20px;

    }



    .team {
        padding-bottom: 10px;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 4px;
        color: #439775;



    }


    .team-info {
        gap: 10px;
        margin-left: 20px;




    }


    .user-textA {
        font-size: 12px;
        padding-bottom: 3px;
        color: #439775;
        font-weight: bold;

    }


    .user-textB {
        font-size: 10px;
        color: #439775;
        font-weight: bold;


    }


}