.logo-slider {
  width: 100%;
  padding-block: 1.5rem;

  .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 55px;
  }
}

.video-player { 
  width: 60vw;
  position: absolute;
  display: block;
  
  @media screen and (max-width: 800px) {
    width: 80vw;
  }
}